#contact_information_email.ng-valid, #calculator_address.ng-valid, #calculator_square.ng-valid, #calculator_ceilingHeight.ng-valid {
  border-left: 5px solid #42A948; /* green */
}
#contact_information_email.ng-invalid, #calculator_address.ng-invalid, #calculator_square.ng-invalid, #calculator_ceilingHeight.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.classWithPad { 
    padding: 0px 5px 0px 0px; 
} 

.btn-group { 
    padding: 0px 2px 0px 0px; 
} 


